<a href="https://colab.research.google.com/github/MB2407/ML/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#LOADING THE LIBRARIES AND THE DATASET
import numpy as np # scientific calculation 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # data visualization library  
import matplotlib.pyplot as plt 
import time

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [10]:
data = pd.read_csv('/covid.csv')

In [4]:
data.head()

  iso_code continent  ... hospital_beds_per_thousand life_expectancy
0      AFG      Asia  ...                        0.5           64.83
1      AFG      Asia  ...                        0.5           64.83
2      AFG      Asia  ...                        0.5           64.83
3      AFG      Asia  ...                        0.5           64.83
4      AFG      Asia  ...                        0.5           64.83

[5 rows x 34 columns]

In [11]:
cols = data.columns
print(cols)

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_units',
       'stringency_index', 'population', 'population_density', 'median_age',
       'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cvd_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy'],
      dtype='object')

In [16]:

data.loc[data['location'] == 'India']

      iso_code continent  ... hospital_beds_per_thousand life_expectancy
13071      IND      Asia  ...                       0.53           69.66
13072      IND      Asia  ...                       0.53           69.66
13073      IND      Asia  ...                       0.53           69.66
13074      IND      Asia  ...                       0.53           69.66
13075      IND      Asia  ...                       0.53           69.66
...        ...       ...  ...                        ...             ...
13267      IND      Asia  ...                       0.53           69.66
13268      IND      Asia  ...                       0.53           69.66
13269      IND      Asia  ...                       0.53           69.66
13270      IND      Asia  ...                       0.53           69.66
13271      IND      Asia  ...                       0.53           69.66

[201 rows x 34 columns]